
<section id="blog">
    <article id="article">

      <header>

        <h1>{{ title }} 
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, reiciendis!
        </h1>

        <time datetime="{{date}}">{{date}}</time>

        <div class="img-container">
          <img src="https://www.placehold.co/700x400" alt="">
        </div>

      </header>
      
      <section class="article-content">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Veniam nisi vitae molestias et amet! Magni error vel aut praesentium nesciunt?</p>
        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nemo magnam in odio illo consequatur id mollitia veritatis alias accusamus quis perferendis iste eos magni perspiciatis dignissimos, possimus deleniti aliquam!</span><span>Laudantium voluptates, dolore illo quibusdam praesentium voluptatem facere iure id dicta odio voluptate natus. Est non, magni quod exercitationem quo blanditiis laudantium omnis sint nisi inventore nam, totam, corporis fuga.</span><span>Soluta qui iusto culpa amet optio magni quos exercitationem cupiditate ipsa veniam eos, repudiandae placeat repellendus, mollitia vitae sapiente neque laboriosam nulla modi, veritatis itaque? Architecto cumque quidem accusantium? Adipisci.</span><span>Consectetur sequi recusandae adipisci maxime, debitis dolore aperiam, in provident exercitationem nisi labore. Corporis, ipsa consequatur! Atque obcaecati possimus, officia vel veritatis sint et sed quo rerum quod eos earum.</span><span>Ipsa voluptate labore aliquid fuga! Deserunt modi, amet dignissimos architecto maiores eos commodi repudiandae aliquid distinctio iste illo dolor eveniet quidem voluptas sequi dolores sapiente vero voluptatibus sunt consectetur temporibus!</span><span>Modi, dolor id perferendis consequuntur sint magni recusandae doloribus, perspiciatis ipsa illum eum eveniet maiores amet sapiente ex accusamus laudantium, exercitationem vero cum? Obcaecati similique nesciunt nostrum ratione iste maiores?</span><span>Suscipit omnis, cumque harum veniam enim fuga dicta repudiandae nam officiis. Quia tempora autem nam porro repudiandae velit minima natus nostrum libero, iusto itaque exercitationem consectetur ut quam sequi aliquam?</span><span>Quae sed at atque ad sint id excepturi voluptates voluptate quos, minima eligendi ex? Doloribus nobis perferendis fugiat veniam vel voluptates quia, reprehenderit nisi quasi, qui, nostrum provident dolorum atque.</span><span>Placeat in dicta corporis debitis architecto esse tenetur temporibus est ab atque laborum velit perspiciatis, quidem a nam quaerat assumenda similique. Ducimus obcaecati beatae nam sunt, odio accusamus corrupti eos!</span><span>In voluptates vero optio eaque aliquid eum delectus ut repellat tenetur accusamus, blanditiis ullam eos magni sunt quas consequatur culpa consectetur! Ullam laborum modi rem, quia libero dolorum mollitia vitae!</span><span>Suscipit impedit dolorem molestias ad voluptate quo ipsam, eligendi ut quos maiores molestiae quam vero ratione odio repudiandae voluptatum, reprehenderit fuga et cum! Minus pariatur rerum obcaecati vero quos! Id.</span><span>Dicta, nesciunt nobis repudiandae, molestiae quos illum eaque error laboriosam eum rem dignissimos quaerat architecto reprehenderit sapiente sequi sed. Labore iure beatae nam non libero maiores esse laudantium magnam eaque.</span><span>Accusantium, eaque veritatis vero autem cum vel praesentium laboriosam perspiciatis dolorum, velit culpa voluptates dolores dicta tempora labore excepturi consequuntur? Adipisci ut officiis mollitia dolorem reiciendis quasi deserunt asperiores consequatur.</span><span>Pariatur, temporibus minus. Sit quaerat, earum dolorum eius aperiam in voluptatem iusto reiciendis ab officia repudiandae natus, eum explicabo quo harum, qui amet nulla. Fuga voluptatibus quia aliquam mollitia dolore!</span><span>Dolorem quisquam unde officia velit quasi maiores sed nobis voluptatibus pariatur aliquam. Quae, sed. Nihil sit quia ad repudiandae provident voluptas aliquid, optio expedita nam ipsum animi, impedit autem culpa!</span><span>Qui quam alias eveniet praesentium deleniti! Explicabo sint voluptatem saepe eveniet blanditiis facere cupiditate placeat nisi tempore atque voluptates, molestias hic nihil dolorem, facilis sunt minima ad consequuntur earum. Sunt!</span><span>Ratione earum eos officiis eum vero architecto nostrum excepturi, voluptas incidunt possimus blanditiis adipisci. Distinctio, alias perspiciatis! Itaque libero eligendi sint tenetur similique obcaecati facilis, animi labore vel, laudantium cum.</span><span>Voluptatibus doloremque, quam repellendus unde deleniti rem aspernatur ipsam ex laborum facilis corporis! Minima illo voluptates, in quae ea officia expedita harum dolorem ab debitis laboriosam error, aperiam assumenda perspiciatis?</span><span>Porro expedita iusto vel quam fugit quos soluta, fugiat mollitia, aliquam laudantium necessitatibus ea magni voluptates optio accusamus error modi repudiandae ipsum cum id eaque ex rem atque. Velit, nam!</span><span>In itaque iste, magni rerum deleniti ullam dolorem quisquam blanditiis autem ut officiis aperiam illo, laudantium perferendis distinctio minus, id odio praesentium totam. Alias id amet voluptatem. Ut, exercitationem numquam!</span></p>
        
        {{{content}}}

      </section>

      {{!-- <aside> --}}
        {{!-- related articles partial here ex: If is a tutorial that expand over several articles --}}
      {{!-- </aside> --}}
    </article>


{{!-- latest articles partial this is for the latest articles in the blog --}}
  {{> articles }}
</section>