<header >
    <nav >
      <ul >
        <li>
          <a  href="/">home</a>
        </li>       
        <li>
          <a  href="/blog">blog</a>
        </li>   
         {{!-- <li>
          <a  href="resume.html#experience">experience</a>
        </li>        
        <li>
          <a  href="resume.html#education">education</a>
        </li>      
          <li>
          <a  href="resume.html#projects">projects</a>   
        </li> --}}
      </ul>
    </nav>
  </header>