<hgroup>
<h1>
  Welcome!, I'm Leniel Luzardo, creating software since 2019
</h1>
<p>
  Take a loot around, you'll find information about my experience, how do I become a software developer and tech articles!
</p>
</hgroup>