<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title> Leniel Luzardo - {{ title }}</title>
</head>
<body>
  <header >
      <nav >
        <ul id="head-nav-list">
          <li>
            <a  href="/">home</a>
          </li>       
          <li>
            <a  href="/blog">blog</a>
          </li>   
        </ul>
      </nav>
  </header>
  <main>
      {{> (selectMain) this }}
  </main>
  <footer >
      <nav id="social" >
          <a href="https://www.linkedin.com/in/lenielluzardo">linkedin</a>   
          <a href="https://www.github.com/lenielluzardo">github</a>
          <a href="https://www.x.com/lenielluzardo">x</a>
          <a href="https://www.youtube.com/@lenielluzardo">youtube</a>   
      </nav>
  </footer>
  
  <script type="module" src="/script.js"></script>
</body>
</html>