<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title> Leniel Luzardo - {{ title }}</title>
</head>
<body>
  <header >
      <nav >
        <ul id="site-nav">
          <li>
            <a  alt="Home"
                href="/"
                >
              <i class="bi bi-house-fill"></i>
            </a>
          </li>       
          <li>
            <a  alt="Blog"
                href="/blog"
                >
              <i class="bi bi-book-fill"></i>
              <P>
                Blog
              </P>
            </a>
          </li>   
        </ul>
      </nav>

        
        <nav id="site-externals">
          <h4>FIND ME:</h4>
          <ul >
            <li>
              <a  alt="LinkedIn" 
                  href="https://www.linkedin.com/in/lenielluzardo" target="_blank"
                  rel="me author external noopener noreferrer"
                  >
                <i class="bi bi-linkedin" ></i>
              </a>   
            </li>
            <li>
              <a  alt="Github"
                  href="https://www.github.com/lenielluzardo" target="_blank"
                  rel="me author external noopener noreferrer"
                  >
                <i class="bi-github"></i>
              </a>
            </li>
            <li>
              <a  alt="Youtube"
                  href="https://www.youtube.com/@lenielluzardo" target="_blank"
                  rel="me author external noopener noreferrer">
                <i class="bi-youtube"></i>
              </a>   
            </li>
            <li>
              <a  alt="X(Twitter)"
                  href="https://www.x.com/lenielluzardo" target="_blank"
                  rel="me author external noopener noreferrer"
                  >
                <i class="bi-twitter-x"></i>
              </a>
            </li>
          </ul>
        </nav>
  </header>
  <main>
      {{> (selectMain) this }}
  </main>
  {{!-- <footer >
      <nav id="social" >
          <a href="https://www.linkedin.com/in/lenielluzardo" target="_blank">linkedin</a>   
          <a href="https://www.github.com/lenielluzardo" target="_blank">github</a>
          <a href="https://www.x.com/lenielluzardo" target="_blank">x</a>
          <a href="https://www.youtube.com/@lenielluzardo" target="_blank">youtube</a>   
      </nav>
  </footer> --}}
  
  <script type="module" src="/script.js"></script>
</body>
</html>