<section id="blog">
  <hgroup id="blog-desc">
    
    <h1 id="blog-title">
      DEVZAR: All things tech!
    </h1>
    
    <p id="blog-caption">
      Here you will find how-to articles, tutorials, reviews &amp documentation about different technologies.
    </p>
  
  </hgroup>
  
  <div id="partial_latest">
    <script src="/scripts/__partials__.js"></script>
  </div>
</section>