<section>
  <hgroup>
    <h1>
      Welcome!, I'm Leniel Luzardo, creating software since 2019
    </h1>

    <p>
      This site is under construction at the moment ...BUT eventually
    </p>
    
    <p>
      you'll find information about my experience, how do I become a software developer and tech articles!
    </p>
  </hgroup>
</section>