:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
    Inter
    /* Georgia */
    /* 'Courier New', monospace */
     /* Verdana */
     /* 'Segoe UI', */
      /* Tahoma */
      /* Geneva, */
      /* Arial, */
      /* sans-serif; */
      ;
      font-style: normal;
}