:root {

}

* {
    margin: 0;
    /* padding: 0; */
    /* box-sizing: border-box; */
    font-family:
    Inter
    /* Georgia */
    /* 'Courier New', monospace */
     /* Verdana */
     /* 'Segoe UI', */
      /* Tahoma */
      /* Geneva, */
      /* Arial, */
      /* sans-serif; */
      ;
      font-style: normal;
}
.homepage-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.section {
height: 70vh;
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
/* align-items: center; */
}
.section:nth-child(even){
    background-color: #191a30;
    align-items: flex-end;
    color: white;
}
.section:nth-child(odd){
    background-color: #dfebff;
}
.section-content {
    width: 50%;
    margin: 3rem;
    /* margin: 1rem 0; */
    /* margin-top: 5rem; */
    /* font-size: 1.2rem; */
    /* line-height: 2rem; */
    /* color: white;  */
}
