:root {}

* {
    margin: 0;
    font-family: Inter, sans-serif;
}
#logo{
    border: #191a30 2px solid;
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 40px;
    justify-content: center;
}
.ll{
    z-index: 0;
    font-weight: bold;
    color: rgb(222, 62, 4);
    display: inline-block;
    font-style: italic;
    font-size: 1.5rem;
}
#l2{
    position: absolute;
    left: 10px;
    top: 4px;
    transform: rotate(180deg);
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
#nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
#nav-links li a {
    text-decoration: none;
    font-weight: bold;
}
a {
    /* text-decoration: none; */
    color: rgb(222, 62, 4);
    font-weight: bold;
}

#homepage-container {
    columns: 60vw auto;
    column-gap: 0px;
    height: 100vh;
    overflow-y: hidden;
}
#homepage-container::-webkit-scrollbar {
    display: none;
}

h2 {
    font-size: 3rem;
    /* margin-bottom: 1rem; */
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    /* width: 100%; */
    
    font-size: 1.2rem;


}

.section:nth-child(even) {
    background-color:#191a30;
    /* background:linear-gradient(#191a30, #050623); */
    align-items: flex-end;
    color: white;
    
}
/* .section:nth-child(odd) h2 {
    color: transparent;
    -webkit-text-stroke: 2px rgb(222, 62, 4);
}
.section:nth-child(even) h2 {
    color: transparent;
    -webkit-text-stroke: 1px white;
} */

.section:nth-child(odd) {
    background:linear-gradient(#dfebff, #b6c8ff);
}
.section-content {
    /* width: 50%; */
    margin: 2rem;
}