/*#region Initial Config*/
:root{
--body-font-color:#2a2a2a;
}
body {
  font-family: 'Istok Web', sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
   "nav main";
  height: 100vh;
  color:var(--body-font-color);
  background: radial-gradient(ellipse,  #fffffe 80%, #ebebeb);
  overflow: hidden;
}
body, ul, a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/*#endregion*/

/*#region Website Header / Navigation*/
#website-header{
  grid-area: nav;
  padding: 1rem;
  background: radial-gradient(rgb(12, 0, 72), rgb(16, 0, 57));
  box-shadow: 0 1px .3rem .1rem #a5a5a5;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #dbdbdb;
}
#website-header li{
  transition: all .1s ease-out;
}
#website-header li:hover {
  transform: scale(1.1);
}
#website-header a {
  color: #dbdbdb;
}
#site-nav li{
  margin: 0 0 .5rem 0;
}
#site-nav a {
  display: flex;
}
#site-nav a:hover {
  text-decoration: underline;
}
#site-nav p{
  font-size: .9rem;
  margin: 0 0 0 .5rem;
}

#site-externals::before{
  content:'____'
}
#site-externals ul{
  display: grid;
  grid-auto-flow: row;
  grid-gap: .5rem;
  padding:.5rem 0;
}
#site-externals li {
  /* margin: .25rem 0; */
}
#site-externals a[alt]:hover::after{
  content:attr(alt);
  position: absolute;
  top:0%;
  left: 70%;
  font-size: .8rem;
  color: #020023;
  border: solid 1px #b6fff0;
  border-radius: 3px;
  background-color: #a3c8ffc9;
  margin: 0;
  padding: 2px 5px;
  width: 5rem;
}
/*#endregion*/

/*#region Main Content Container*/
main{
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#blog {
  width: 80%;
}
/*#endregion*/

/*#region Blog*/
#blog-desc {
 text-align: center;
}
/*#endregion*/

/*#region Article (single)*/
#article{
  padding: 2rem;
  margin: 2rem 0;
  text-align: justify;
}
.img-container{
  text-align: center;
}
/*#endregion*/

/*#region Articles Latest*/
#articles-latest{
  width: 100%;
}
#articles-latest h3{
  margin: 0;
}
#articles-latest ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  /* box-shadow: 0 3px 3px 0px #ebebeb; */
}

.roundbox{
  background: linear-gradient(#f3f3f3, #fff ,#f3f3f3);
  border: 1px solid #c9c9c9;
  border-radius: 1rem;
}

#articles-latest ul li {
  margin: .5rem;
}
#articles-latest a {
  color: var(--body-font-color);
}
#articles-latest a:visited{
  color:var(--body-font-color);
}
/*#endregion*/

/*#region Card */
.card-container {
  border: solid 1px rgb(208, 204, 204);
  border-radius: .5rem;
  overflow: hidden;
  text-align: center;
  width: 10rem;
  height: 10rem;
  max-height: 15rem;
  box-shadow: .1rem 3px 3px 0px #b5b5b55f;
  transition: all .1s ease-out ;
  background: #fff;
}
.card-container:hover {
  transform: scale(1.1);
}
.card-img {
  width: 100%;
  height: 60%; 
  overflow: hidden;
}
.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: .5rem;
}
.card-title {
  margin: 0;
  font-size: .7rem;
}
/*#endregion*/


