@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: 'Istok Web', sans-serif;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows:  auto 1fr auto;
  grid-template-areas: 
   "header"
   "main"
   "footer";
  height: 100vh;
  color:#2a2a2a;
  background: radial-gradient(ellipse,  #fffffe 80%, #ebebeb);
}

body, ul, a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
header{
  grid-area: header;
  padding: 1rem;
  background: radial-gradient(rgb(12, 0, 72), rgb(16, 0, 57));
  box-shadow: 0 1px .3rem .1rem #a5a5a5;
  font-weight: bolder;
}
#head-nav-list {
 display: flex;
 justify-content: space-evenly;
}
#head-nav-list > li > a {
  text-decoration: none;
  color: #dbdbdb;
}
main{
  grid-area: main;
  height: 100%;
  padding: 1rem;
}
footer {
  grid-area: footer;
  padding: 1rem;
  background: radial-gradient(rgb(12, 0, 72), rgb(16, 0, 57));
}
footer > nav {
  display: flex;  
  justify-content: space-evenly;
  width: 100%;
}
footer, footer a {
  color: #dbdbdb;
}