:root {
--light-color: rgb(214, 214, 214);
--dark-color: rgb(23, 23, 23);
--cta-color: rgb(104,0,186);
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  /* font-size: 20px; */
}

body {
  color: var(--light-color);
  background-color:var(--dark-color);
  /* overflow-y: hidden; */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: 60%;
  font-size:1.2rem;
}

.cta {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 1rem;
  font-weight: 800;
  text-decoration: none;
  text-align:center;
  transition: color 1s ease;
}
.cta:hover {
  color: var(--cta-color);
  cursor:pointer;
}

@media screen and (min-width: 768px) {
  #hero, .cta {
    font-size:2rem;
  }
}
