<footer>
    <div class="footer-nav">
        <p class="section-link">Have questions? Check out the <a href="/faq">Q&amp;A page</a>.</p>
        <p class="section-link">What people I've worked with say? Read <a href="/testimonials">their testimonials</a>.</p>
        <p class="section-link">Want to know me better? Visit the <a href="/about">about page</a>.</p>
    </div>
    <div class="footer-content">
        <div>
            <p class="footer-text">&copy; 2026 Leniel Luzardo. All rights reserved.</p>
        </div>
        <ul class="footer-links">
            <li><a href="https://github.com/lenielluzardo" target="_blank" rel="noopener noreferrer">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/lenielluzardo" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
            <li><a href="mailto:lenielluzardo.dev@gmail.com">Email</a></li>
        </ul>
    </div>
</footer>