<header>

    {% include './logo.njk' %}

    <nav>
        <ul id="nav-links">
            <li><a href="/">Home</a></li>
            {% if site.pages.blog %}
            <li><a href="/blog">Blog</a></li>
            {% endif %}
            {% if site.pages.projects %}
            <li><a href="/projects">Projects</a></li>
            {% endif %}
            {% if site.pages.workWithMe %}
            <li><a href="/work-with-me">Work with Me</a></li>
            {% endif %}
        </ul>
    </nav>
</header>