<header>

    {% include './logo.njk' %}

    <nav>
        <ul id="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>